html, body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    scroll-behavior: smooth;
    background: #146a6e;
}

.landing_img {
    min-height: 100vh;
}

.burger {
    width: 20%;
    height: 10%;
    cursor: pointer;
    z-index: 13;
    pointer-events: initial;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6.5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-6.5px,-6px);
}

.burger div {
    width: 80%;
    height: 3px;
    background-color: white;
    margin: 6px;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.3s ease;
}

nav {
    top: 6vh;
    right: 50%;
    display: flex;
    padding: calc(2vw + 2vh);
    width: calc(10vw + 10vh);
    height: auto;
    z-index: 12;
    overflow: hidden;
    position: absolute;
    justify-content: space-around;
    right: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.7vw + 0.7vh);
    line-height: calc(1.3vw + 1.3vh);
    pointer-events: none;
}

@media screen and (orientation: portrait) {
    nav {
        padding: calc(2vw + 2vh);
        width: calc(20vw + 20vh);
        height: calc(22vw + 22vh);
        font-size: calc(1.6vw + 1.6vh);
        line-height: calc(2.5vw + 2.5vh);
        top: 3vh;
    } 
}

.nav_links {
    padding: calc(0.5vw + 0.5vh);
    display: flex;
    filter: drop-shadow(0 0 0.5vw rgba(0,0,0,0.2));
    align-items: left;
    width: 100%;
    text-decoration: none;
    list-style: none;
    transform: translateX(50vw);
    flex-direction: column;
    transition: transform 0.3s ease-out;
    background-color: #2df1fd;
    z-index: -12;
    pointer-events: none;
}

@media screen and (orientation: portrait) {
    .nav_links {
        transform: translateX(100vw);
    }
}

.nav_links-active {
    transform: translateX(0%);
    z-index: 13;
    pointer-events: initial;
}

h1 {
    color: white;
    font-size: 2vw;
    font-family: 'Calistoga', cursive;
    pointer-events: none;
}

@media screen and (orientation: portrait) {
    h1 {
        font-size: 4vw;
    }
}

h6 {
    color: #98faff;
    font-size: calc(0.4vw + 0.4vh);
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

@media screen and (orientation: portrait) {
    h6 {
        font-size: calc(1vw + 1vh);
    }
}

h6 a {
    color: #bffcff;
}

.statut {
    position: absolute;
    padding: 0vh 5vh 0vh 0vh;
    z-index: 0;
    left: 38vw;
    top: 8.7vh;
    pointer-events: none;
}

@media screen and (orientation: portrait) {
    .statut {
        left: 10vw;
        top: 20vh;
    }
}

.statut p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.3vw + 1.1vh);
    pointer-events: none;
}

@media screen and (orientation: portrait) {
    .statut p {
        font-size: calc(0.7vw + 0.7vh);
    }
}

.signature {
    opacity: 0.5;
    padding-top: 2vh;
    float: left;
}

@media screen and (orientation: landscape) {
    .signature {
        float: right;
    }
}

.signature p {
    font-size: calc(0.5vw + 0.5vh);
}

.signature img {
    display: block;
    width: calc(10vw + 10vh);
    height: auto;
}

@media screen and (orientation: portrait) {
    .signature img {
        float: left;
    }
}

p {
    color: white;
    font-size: calc(0.7vw + 0.2vh);
    font-family: 'Roboto', sans-serif;
}

.title {
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    z-index: 9;
    background: #2df1fd;
    pointer-events: none;
}

.logo_table {
    z-index: 10;
    overflow: hidden;
    position: absolute;
    top: 10vh;
    left: 10%;
    pointer-events: none;
}

@media screen and (orientation: portrait) {
    .logo_table {
        top: 6vh;
    }
}

.logo_table img {
    height: calc(4vw + 4vh);
}

@media screen and (orientation: portrait) {
    .logo_table img {
        height: calc(7vw + 7vh);
    }
}

img {
    height: auto;
    width: auto;
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    z-index: 10;
    pointer-events: none;
    float: right;
}
    
.main_page_1 {
    padding: 0px;
    margin: 0px;
    z-index: 0;
    position: relative;
    height: 110vh;
    width: 100vw;
    background: #146a6e;
}

.main_page_1_and_A_Half {
    display: block;
    padding: 0px;
    margin: 0px;
    z-index: 0;
    position: relative;
    height: 0vh;
    width: 0vw;
    background: #00000000;
    transform: translateY(-100vh);
}

.galleria {
    width: 100vw;
    height: 100vh;
    background: #000
}

.main_page_2 {
    position: relative;
    height: 30vh;
    width: 100vw;
    padding: 1px;
    margin: 0px;
    z-index: 9;
    background: #146a6e;
}

.main_page_2_and_a_half {
    padding: 0px;
    margin: 0px;
    z-index: 0;
    position: sticky;
    min-height: 100vh;
    width: 100vw;
    background: #146a6e;
}

.sprawozdania_list {
    position: sticky;
    display: block;
    float: left;
    padding: 0vh 5vh 0vh 0vh;
    z-index: 0;
    left: 38vw;
    top: 8.7vh;
}

@media screen and (orientation: portrait) {
    .sprawozdania_list {
        left: 10vw;
        top: 20vh;
    }
}

.sprawozdania_list h1 {
    pointer-events: initial;
    z-index: 20;
}

.sprawozdania_list table {
    width: 200%;
    text-align: left;
    color: #fff;
    padding: 5%;
    font-size: calc(0.3vw + 1.1vh);
    font-family: 'Roboto', sans-serif;
}

@media screen and (orientation: portrait) {
    .sprawozdania_list table {
        font-size: calc(0.7vw + 0.7vh);
        width: 100%;
        text-align: center;
    }
}

@media screen and (orientation: landscape) {
    .sprawozdania_list table svg {
        width: 48px;
        height: 48px;
    }
}

.kontakt {
    position: absolute;
    padding: 0vh 3.5vh 0vh 0vh;
    z-index: 0;
    text-align: justify;
    left: 40vw;
    top: 8.7vh;
    line-height: 5px;
}
@media screen and (orientation: portrait) {
    .kontakt {
        left: 10vw;
        top: 20vh;
    }
}

.svg_mail {
    transform: translate(0, 5px);
}

@media screen and (orientation: landscape) {
    .svg_mail {
        width: 48px;
        height: 48px;
    }
}

a {
    color: white;
    text-decoration: none;
}

.svg_facebook {
    transform: translate(0, 5px);
    fill: white;
}

@media screen and (orientation: landscape) {
    .svg_facebook {
        width: 48px;
        height: 48px;
    }
}

.link_facebook {
    text-decoration: none;
    color: white;
}

.main_page_3 {
    display: block;
    position: relative;
    height: 70vh;
    width: 100vw;
    padding: 1px;
    margin: 0px;
    z-index: 9;
    background: #146a6e;
}

.mapa {
    height: 100%;
    width: 100vw;
}
